body {
    background-color: #2b2d30;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравнивание по вертикали */
    height: 50px;
}

.tab-headerLeft,
.tab-headerRight {
    display: flex;
}

.photoNotFound img {
    border-radius: 15px; /* Закругление углов */
    height: auto; /* Размер изображения по высоте авто */
    margin-top: 10px; /* Отступ с верху */
    max-width: 300px; /* Размер изображения по ширине */
}


.userPhoto img {
    border-radius: 15px; /* Закругление углов */
    box-shadow: 0 0 25px rgba(0, 0, 0, 1); /* Внешнее свечение */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-top: 10px; /* Отступ с верху */
    max-height: 200px; /* Размер изображения по высоте авто */
    max-width: 200px; /* Размер изображения по ширине */
    width: auto; /* Автоматическая ширина для сохранения пропорций */
}

.pagination {
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    display: flex; /* Выравнивания и распределения элементов внутри блока */
    justify-content: space-between; /* Равномерно по всей ширине контейнера */
    margin-top: 20px; /* Добавляем отступ сверху */
    width: 100%;
}



.pagesLeft {
/* Элемент занимает равную часть доступного пространства */
    flex: 1;
    /* Выравнивания и распределения элементов внутри блока */
    display: flex;
    /* Выровнен по правому краю контейнера */
    justify-content: flex-end;
    margin-right:11px;
}

.pagesCenter {
    display: flex;
    justify-content: center;
}

.pagesRight {
/* Элемент занимает равную часть доступного пространства */
    flex: 1;
    /* Выравнивания и распределения элементов внутри блока */
    display: flex;
    /* Выровнен по левому краю контейнера */
    justify-content: flex-start;
    margin-left:11px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.CenterPanel {
    flex: 1;
    text-align: center;
}

.LeftPanel {
}

.RightPanel {
    align-items: center;
    backdrop-filter: blur(5px); /* Размытие фона */
    border-radius: 22px; /* Скругленные углы */
    box-shadow: inset 0 0 30px rgba(8, 7, 16, 0.6); /* Тень */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 66px);
    margin-left: 10px;
    min-height: 390px;
    width: 300px; /* Фиксированная ширина */
    z-index: 4; /* Уровень слоя */
    marginTop: '0';
}

#TimeDate-container {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    margin-bottom:10px;
    bottom: 0; /* Размещаем в самом низу */
}
