body {
    background-color: #2b2d30;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравнивание по вертикали */
}

.tab-headerLeft,
.tab-headerRight {
    display: flex;
}

.photoNotFound img {
    margin-top: 10px; /* Отступ с верху */
    max-width:300px; /* Размер изображения по ширине */
    height:auto; /* Размер изображения по высоте авто */
    border-radius: 15px; /* Закругление углов */
}

.userPhoto img {
    margin-top: 10px; /* Отступ с верху */
    max-width:200px; /* Размер изображения по ширине */
    max-height:200px; /* Размер изображения по высоте авто */
    border-radius: 15px; /* Закругление углов */
    width: auto; /* Автоматическая ширина для сохранения пропорций */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    box-shadow: 0 0 25px rgba(0, 0, 0, 1); /* Внешнее свечение */
}

.pagination {
/* Выравнивания и распределения элементов внутри блока */
    display: flex;
    /* Равномерно по всей ширине контейнера */
    justify-content: space-between;
    /* Выравниваем элементы по центру по вертикали */
    align-items: center;
    /* Добавляем отступ сверху */
    margin-top: 20px;
    /* text-align: center;*/
    width: 100%;
}


.pagesLeft {
/* Элемент занимает равную часть доступного пространства */
    flex: 1;
    /* Выравнивания и распределения элементов внутри блока */
    display: flex;
    /* Выровнен по правому краю контейнера */
    justify-content: flex-end;
    margin-right:11px;
}

.pagesCenter {
    display: flex;
    justify-content: center;
}

.pagesRight {
/* Элемент занимает равную часть доступного пространства */
    flex: 1;
    /* Выравнивания и распределения элементов внутри блока */
    display: flex;
    /* Выровнен по левому краю контейнера */
    justify-content: flex-start;
    margin-left:11px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.CenterPanel {
    flex: 1;
    text-align: center;
}

.LeftPanel {
}

.RightPanel {
    margin-left: 10px;
    width: 300px; /* Фиксированная ширина */
    box-shadow: inset 0 0 30px rgba(8, 7, 16, 0.6);  /* Тень */
    border-radius: 22px; /* Скругленные углы */
    backdrop-filter: blur(5px); /* Размытие фона */
    z-index: 4; /* Уровень слоя */
}
