.shadow-text {
    text-shadow: 0 0 15px #6cb777;
    filter: drop-shadow(0 0 10px #ec531e);
}

.shadow-Anonymous {
    text-shadow: 0 0 11px #650808;
    filter: drop-shadow(0 0 11px #f15532);
    text-align: center
}

h2 {
    color: #d86b11;
}

h3 {
    color: #1b1c1c;
    font-size: 4px;
}

label[class="limit_days"] {
/* Размер шрифта */
    font-size: 22px;
    /* Полужирный текст */
    font-weight: bold;
    border-radius: 15px;
    color: #ffffff8b;
}


select[name="limit_days"] {
/* Ширина селекта */
    width: 100px;
    /* Внутренний отступ */
    padding: 3px;
    /* Размер шрифта */
    font-size: 16px;
    /* Закругленные углы */
    border-radius: 7px;
    /* Убирает стандартную обводку при фокусе */
    outline: none;
    /* Плавный переход при наведении */
    transition: all 0.3s ease;
    background-color: #5e4915;
}

select[name="limit_days"]:hover,
select[name="limit_days"]:focus{
    border-color: #d5c727; /* Изменение цвета границы при наведении */
    background-color: #bda056; /* Слегка затемненный фон при наведении */
}

