/* Стиль для формы */
form {
/* Добавление размытия фона */
    backdrop-filter: blur(20px);
    /* Граница формы */
    border: 2px solid rgba(255, 255, 255, 0.1);
    /* Радиус скругления углов формы */
    border-radius: 10px;
    /* Цвет фона формы с прозрачностью */
    background-color: rgba(255, 255, 255, 0.10);
    /* Внутренние отступы формы: 50px сверху и снизу, 35px слева и справа */
    padding: 50px 35px;
    /* Тень от формы */
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    /* Ширина формы */
    width: 400px;
    /* Высота формы */
    height: 400px;
    /* Отступ сверху: позиционирует форму на 30% родительского элемента по вертикали */
    top: 100px;
    /* Отступ слева: позиционирует форму на 50% родительского элемента по горизонтали */
    left: 50%;
    /* Позиционирование формы: абсолютное позиционирование относительно ближайшего позиционированного предка */
    position: absolute;
    /* Смещение формы от начальной позиции: центрирование по горизонтали и вертикали */
    transform: translate(-50%);
}

/* Стили для заголовков h3 внутри формы */
form h3 {
/* Размер шрифта заголовка */
    font-size: 32px;
    /* Устанавливаем цвет текста */
    color: #e35b07;
    /* Жирность шрифта заголовка */
    font-weight: 500;
    /* Межстрочное расстояние для заголовка */
    line-height: 42px;
    /* Выравнивание текста по центру */
    text-align: center;
    /* Отступ сверху заголовка: сдвигает заголовок вверх */
    margin-top: -20px;
}

.tab-register {
    display: flex;
}

